*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd span {
    margin: 0;
    font-family: 'Merriweather', serif;
    background: #E5E5E5;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


img {
    width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

.container__header-baner {
    position: relative;
    z-index: 0;
}

.header-baner__logo-block {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 46rem;
}

.header__img-login {
    width: 86px;
    margin-left: auto;
    margin-right: 122px;
}

.header__img-logo-cube {
    width: 32px;
    margin-right: auto;
    margin-left: 122px;

}

.container__header-title {
    position: relative;
    left: 63px;
    bottom: 330px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 741px;
    padding-left: 4rem;
    padding-right: 9rem;
    padding-top: 6rem;
    padding-bottom: 5rem;
}

.main-title {
    display: block;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 49px;
    margin-bottom: 29px;
    color: #000000;
    background: #FFFFFF;
}

.text-red {
    color: #F78065;
}

.main-article {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 29px;
    color: #000000;
    background: #FFFFFF;
    opacity: 0.6;
}

.container__header-orang-button {
    display: flex;
    width: 250px;
    height: 65px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 16px;
    gap: 8px;
    background: #F78065;
}



.container__header-orang-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.header__orang-button-img {
    width: 24px;
    padding-bottom: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.container__three-article {
    display: flex;
    justify-content: space-around;

}

.three-article__first,
.three-article__second,
.three-article__therd {
    width: 386px;

}

.three-article__first-title,
.three-article__second-title,
.three-article__therd-title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 84px;
    margin-bottom: 29px;
    color: #000000;

}

.three-article__first-text,
.three-article__second-text,
.three-article__therd-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.6;
}

.red {
    margin-top: 29px;
    color: #F78065;

}

.sections-four-steps {
    margin-top: 10rem;
}


.four-steps__title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    margin-left: 102px;
    margin-bottom: 6.8rem;
    color: #000000;
}

.sections-four-steps__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;


}

.four-steps__one-step,
.four-steps__tow-step,
.four-steps__therd-step,
.four-steps__four-step {
    display: flex;
    flex-direction: column;
    width: 13%;
    flex-basis: 10rem;
    flex-shrink: 0;
}



.four-steps__one-step-title,
.four-steps__tow-step-title,
.four-steps__therd-step-title,
.four-steps__four-step-title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 31px;
    width: 275px;
}


.four-steps__one-step-text,
.four-steps__tow-step-text,
.four-steps__therd-step-text,
.four-steps__four-step-text {
    margin-bottom: auto;
}


.img-svg {
    width: 32px;
    height: 32px;
    margin-bottom: 64px;
}
.container__community-campervan{
    display: flex;
    justify-content: space-between; 
    margin-top: 263px; 
}

.community-campervan-description{
    display: flex;
    flex-direction: column;
    width: 325px;
    margin-left: 100px;
}
.community-campervan__wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.community-campervan__title{
    font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
    
        color: #000000;
}
.community-campervan__text{
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

    opacity: 0.5;

}

.community-campervan__orang-button{
    background: #F78065;
    width: 250px;
    color: #FFFFFF;
}
.img-play{
    width: 24px;
    flex: none;
        order: 0;
        flex-grow: 0;
}
.name-button{
    flex: none;
        order: 1;
        flex-grow: 0;
}

.community-campervan__managers{
    display: flex;
    width: 67%;
        justify-content: space-between;
        margin-right: 100px;
        margin-left: auto;
    
}

.community-campervan__manager-name
{font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
}

.community-campervan__manager-state{
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            
            color: #3F3D56;
}
.community-campervan__manager-follow{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
    
    
        color: #F78065;
}